# Python
__pycache__/
*.py[cod]
*.sqlite3
*.sqlite3.*
.env
.venv/
venv/

# Django
media/
staticfiles/

# Node / React
node_modules/
dist/
.env.local

# Docker / system
*.log
.DS_Store

# IDE
.vscode/
.idea/
